@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input {
        @apply w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors;
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.user-is-tabbing *:focus {
    outline: none; /* 移除默认的焦点样式 */
    background-color: #0078d4; /* 设置背景颜色高亮显示 */
    color: white; /* 改变文字颜色 */
    transition: background-color 0.3s; /* 添加过渡效果 */
}
